<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title th:text="${title}">Death Note</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto+Condensed:ital@0;1&display=swap"
      rel="stylesheet"
    />="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/style.css}" />
  </head>

 <header class="site-header">
      <div class="logo-container">
        <img th:src="@{/assets/deathNoteWhite.png}" alt="Logo Death Note" />
      </div>
      <nav class="main-nav">
        <ul>
          <li><a th:href="@{/}">Seleccionar Death Note</a></li>
          <li><a th:href="@{/rules}">Reglas</a></li>
          <li><a th:href="@{/anotarNombres}">Anotar nombres</a></li>
          <li><a th:href="@{/listadoNombres}">Listado de nombres</a></li>
        </ul>
      </nav>
    </header>
  <body>
    <div
      th:if="${param.error != null}"
      th:text="${param.error}"
      class="error-message"
    ></div>
    <div
      th:if="${param.success != null}"
      th:text="${param.success}"
      class="success-message"
    ></div>

    <main>
      <section>
        <h2>Añadir Persona a la Death Note</h2>
        <form
          th:action="@{/list}"
          method="post"
          th:object="${person}"
          enctype="multipart/form-data"
        >
          <div>
            <label for="name">Nombre:</label>
            <div>
              <input type="text" th:field="*{name}" required />
              <small
                th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}"
                class="error-text"
              ></small>
            </div>
          </div>

          <div>
            <label for="file">Foto del rostro:</label>
            <div>
              <input type="file" id="file" name="file" accept="image/*" />
            </div>
          </div>

          <div>
            <label for="deathDate">Fecha de la muerte:</label>
            <div>
              <input type="date" th:field="*{deathDate}" />
              <small
                th:if="${#fields.hasErrors('deathDate')}"
                th:errors="*{deathDate}"
                class="error-text"
              ></small>
            </div>
          </div>

          <div>
            <label for="horario">
                <span>Hora de muerte</span>
                <input type="time" id="horario">
            </label>
          </div>

          <div>
            <label for="deathDetails">Detalles de la muerte:</label>
            <div>
              <input type="text" th:field="*{deathDetails}" />
              <small
                th:if="${#fields.hasErrors('deathDetails')}"
                th:errors="*{deathDetails}"
                class="error-text"
              ></small>
            </div>
          </div>

          <div>
            <label for="deathNoteId">Seleccionar Death Note:</label>
            <div>
              <select id="deathNoteId" name="deathNoteId" required>
                <option value="">-- Elige una Death Note --</option>
                <option
                  th:each="dn : ${deathNotes}"
                  th:value="${dn.id}"
                  th:text="'ID Death Note: ' + ${dn.id} + (${dn.shinigamiId != null && !#strings.isEmpty(dn.shinigamiId)} ? ' (ID Shinigami: ' + ${dn.shinigamiId} + ')' : ' (Shinigami no asignado)')"
                ></option>
              </select>
            </div>
          </div>

          <div>
            <input type="submit" th:value="${button}" />
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
